<footer class="footer-container">
  <div class="container">
    <div class="footer-nav">
      <!-- <a href="/" class="footer-logo">SNDB</a> -->
      <p class="footer-text">Správa nájemnich domu a bytu</p>
      <ul class="footer-nav-items">
        <li><a href="#o-nas" class="footer-nav-item">O nas</a></li>
        <li>
          <a href="#sprava-nemovitosti" class="footer-nav-item">
            Sprava nemovitosti</a
          >
        </li>
        <li><a href="#Cena" class="footer-nav-item">Cena spravy</a></li>
      </ul>
      <div class="footer-contacts">
        <a class="footer-link" href="mailto:info@sndb.cz">info@sndb.cz</a>
        <a class="footer-link" href="tel: +420732788997">+420 732 788 997</a>
      </div>
    </div>
  </div>
</footer>
