<header class="header-page">
  <div class="container">
    <nav class="header-nav">
      <a href="/" class="header-logo">SNDB</a>
      <ul class="page-nav">
        <li><a href="#o-nas" class="link">O nas</a></li>
        <li>
          <a href="#sprava-nemovitosti" class="link">Sprava nemovitosti</a>
        </li>
        <li><a href="#Cena" class="link">Cena spravy</a></li>
        <li>
          <button onclick="location.href='#contact'" class="contact-us">
            Kontaktujte nás
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
