<header class="header-page">
  <div class="container">
    <nav class="header-nav">
      <a href="/" class="header-logo">SNDB</a>
      <ul class="page-nav">
        <li><a href="#o-nas" class="link">O nas</a></li>
        <li>
          <a href="#sprava-nemovitosti" class="link">Sprava nemovitosti</a>
        </li>
        <li><a href="#Cena" class="link">Cena spravy</a></li>
        <li>
          <button onclick="location.href='#contact'" class="contact-us">
            Kontaktujte nás
          </button>
          <button onclick="location.href='#contact'" class="phone-btn" type="button">
            <svg class="phone-icon" width="28" height="28">
              <use href="../img/sprite.svg#icon-phone"></use>
            </svg>
          </button>
        </li>
      </ul>
      <button class="burger-btn" type="button" data-menu-open>
        <svg class="burger-icon" width="34" height="34">
          <use href="../img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
  <div class="mobile-menu" data-menu>
    <div class="container mobile-menu-container">
      <button class="mobile-menu-close" data-menu-close>
        <svg class="mobile-menu-close-icon" width="45" height="45">
          <use href="../img/sprite.svg#icon-cross"></use>
        </svg>
      </button>
      <nav class="mobile-menu-nav">
        <ul class="mobile-page-nav">
          <li><a href="#o-nas" class="link">O nas</a></li>
          <li>
            <a href="#sprava-nemovitosti" class="link">Sprava nemovitosti</a>
          </li>
          <li><a href="#Cena" class="link">Cena spravy</a></li>
          <li>
            <button onclick="location.href='#contact'" class="contact-us">
              Kontaktujte nás
            </button>
          </li>
        </ul>

        </div>
      </nav>
    </div>
  </div>
</header>
