<section class="hero-container">
  <div class="container">
    <h1 class="hero">Správa nájemnich domu a bytu</h1>
    <p class="hero-text">
      Profesionalni správa a pronájem bytovych a nebytovych jednotek v Praze
    </p>
    <button class="hero-btn" onclick="location.href='#sprava-nemovitosti'">
      Zjistit víc
    </button>
  </div>
  <img
    class="hero-img-mobile"
    src="../img/contemporary-multi-story-living-space-design-37513(1).jpg"
    alt="Appartmant building"
  />
  <img
    class="hero-img-pc"
    src="../img/modern-eco-friendly-architecture-201556168(1).jpg"
    alt="Modern architecture"
  />
</section>
