<section class="about-container">
  <div class="container">
    <h2 class="about-header">O nas</h2>
    <div class="cons-box">
      <p class="about-text">
        Pusobime na pražskem trhu spravy a pronajmu nemovitosti od roku 1998
      </p>
      <ul>
        <li class="cons-text">
          <div class="icon-checkmark">
            <svg class="icon" width="25" height="25">
              <use href="../img/sprite.svg#icon-checkmark"></use>
            </svg>
          </div>
          Spolehlivost
        </li>
        <li class="cons-text">
          <div class="icon-checkmark">
            <svg class="icon" width="25" height="25">
              <use href="../img/sprite.svg#icon-checkmark"></use>
            </svg>
          </div>
          Transparentnost
        </li>
        <li class="cons-text">
          <div class="icon-checkmark">
            <svg class="icon" width="25" height="25">
              <use href="../img/sprite.svg#icon-checkmark"></use>
            </svg>
          </div>
          Profesionalita
        </li>
      </ul>
    </div>
  </div>
</section>
