<section class="about-container" id="o-nas">
  <div class="container">
    <h2 class="about-header">O nas</h2>
    <div class="cons-box">
      <div>
        <p class="about-text">
          Více než 20 let se zabýváme správou bytových jednotek i komplexní
          správou celých nájemních domů v Praze. V našem portfoliu najdete
          historické domy, novostavby i domy po celkové rekonstrukci.
          Poskytujeme správu od drobné údržby až po větší rekonstrukce, od
          úklidu společných prostor až po údržbu zahrady či dvorku.
        </p>
      </div>
    </div>
  </div>
</section>
