<section class="about-container" id="o-nas">
  <div class="container">
    <h2 class="about-header">O nas</h2>
    <div class="cons-box">
      <div>
        <p class="about-text">
          Více než 20 let se zabýváme správou bytových jednotek i komplexní
          správou celých nájemních domů v Praze.
        </p>
        <p class="about-text">
          V našem portfoliu najdete historické domy, novostavby i domy po
          celkové rekonstrukci.
        </p>
        <p class="about-text">
          Poskytujeme správu od drobné údržby až po větší rekonstrukce, od
          úklidu společných prostor až po údržbu zahrady či dvorku. Postaráme se
          o vyhledání nových nájemců i o kompletní správu nájemního vztahu,
          včetně administrativních a právních záležitostí.
        </p>
        <p class="about-text">
          Naše služby jsou zaměřeny na bezproblémový chod vaší nemovitosti,
          abyste se mohli věnovat jiným projektům s jistotou, že je o váš
          majetek postaráno
        </p>
      </div>
      <ul>
        <li class="cons-text">
          <div class="icon-checkmark">
            <svg class="icon" width="25" height="25">
              <use href="./img/sprite.svg#icon-checkmark"></use>
            </svg>
          </div>
          Spolehlivost
        </li>
        <li class="cons-text">
          <div class="icon-checkmark">
            <svg class="icon" width="25" height="25">
              <use href="./img/sprite.svg#icon-checkmark"></use>
            </svg>
          </div>
          Transparentnost
        </li>
        <li class="cons-text">
          <div class="icon-checkmark">
            <svg class="icon" width="25" height="25">
              <use href="./img/sprite.svg#icon-checkmark"></use>
            </svg>
          </div>
          Profesionalita
        </li>
      </ul>
    </div>
  </div>
</section>
