<section class="for-who-container" id="sprava-nemovitosti">
  <div class="container">
    <h2 class="for-who-header">Pro koho je určena naše služby?</h2>
    <div class="for-who-items">
      <div class="for-who-item">
        <p class="for-who-name">Jste majitel nájemniho domu?</p>
        <p class="for-who-text">
          Pokud vlastníte nájemní dům, víte, že jeho správa vyžaduje čas,
          zkušenosti a pečlivý přístup. Od komunikace s nájemníky, řešení oprav
          a údržby až po administrativní záležitosti a revize – správa
          nemovitosti může být náročná. My vám pomáháme s každodenními
          povinnostmi, aby vaše nemovitost fungovala hladce, byla dlouhodobě
          výdělečná a zároveň aby nájemníci byli spokojeni.
        </p>
      </div>
      <div class="for-who-item">
        <p class="for-who-name">Jste majitel nájemniho bytu?</p>
        <p class="for-who-text">
          Naše služby správy nemovitostí jsou určeny také pro majitele nájemních
          bytů, kteří chtějí efektivně spravovat svou investici a mít jistotu,
          že vše funguje hladce. My vám pomůžeme s každodenní správou, aby váš
          byt byl dobře udržovaný, pronajatý spolehlivým nájemníkům a přinášel
          vám příjem.
        </p>
      </div>
    </div>
  </div>
</section>
