<section class="about-container">
  <div class="container">
    <h2 class="about-container">Proč pravě my?</h2>
    <div class="cons-box">
      <div>
        <p class="about-text">
          Postaráme se o vyhledání nových nájemců i o kompletní správu nájemního
          vztahu, včetně administrativních a právních záležitostí. Naše služby
          jsou zaměřeny na bezproblémový chod vaší nemovitosti, abyste se mohli
          věnovat jiným projektům s jistotou, že je o váš majetek postaráno.
        </p>
      </div>
      <ul>
        <li class="cons-text">
          <div class="icon-checkmark">
            <svg class="icon" width="25" height="25">
              <use href="./img/sprite.svg#icon-checkmark"></use>
            </svg>
          </div>
          Spolehlivost
        </li>
        <li class="cons-text">
          <div class="icon-checkmark">
            <svg class="icon" width="25" height="25">
              <use href="./img/sprite.svg#icon-checkmark"></use>
            </svg>
          </div>
          Transparentnost
        </li>
        <li class="cons-text">
          <div class="icon-checkmark">
            <svg class="icon" width="25" height="25">
              <use href="./img/sprite.svg#icon-checkmark"></use>
            </svg>
          </div>
          Profesionalita
        </li>
      </ul>
    </div>
  </div>
</section>
