<section class="services-container">
  <div class="container">
    <h2 class="services-header">Služby<h2>
        <div class="services-items">
        <div class="services-item">
            <svg class="icon service-icon" width="55" height="55">
                <use href="./img/sprite.svg#icon-office"></use>
            </svg>
            <h4 class="service-name">Sprava najemnich domu a bytu</h4>
            <p class="service-text">Efektivni vedeni spravy bytoveho fondu, pronajem bytovych a nebytovych prostor</p>
        </div>
        <div class="services-item">
            <svg class="icon service-icon" width="55" height="55">
                <use href="./img/sprite.svg#icon-wrench"></use>
            </svg>
            <h4 class="service-name">Udržba nemovitosti</h4>
            <p class="service-text">Pravidelná údržba, opravy, revize a řešení havarijních situací</p>
        </div>
        <div class="services-item">
            <svg class="icon service-icon" width="55" height="55">
                <use href="./img/sprite.svg#icon-folder-open"></use>
            </svg>
            <h4 class="service-name">Finančni sprava bytu a domu</h4>
            <p class="service-text">Učetnictví, výběr nájemného, ročni vyučtovani a finanční plánování</p>
        </div>
        <div class="services-item">
            <svg class="icon service-icon" width="55" height="55">
                <use href="./img/sprite.svg#icon-users"></use>
            </svg>
            <h4 class="service-name">Nájemci</h4>
            <p class="service-text">Vyhledání nových nájemníků, uzavírání smluv, předávání a přebírání jednotek</p>
        </div>
        </div>
  </div>
</section>
