<section class="services-container">
  <div class="container">
    <h2 class="services-header">Co všechno za Vas zařidime?<h2>
        <div class="services-items">
            <div class="services-item">
                <svg class="icon service-icon" width="55" height="55">
                    <use href="./img/sprite.svg#icon-office"></use>
                </svg>
                <div class="service-border">
                <h4 class="service-name accordion-toggle">Technickou správu</h4>
                <ul class="service-text accordion-content">
                    <li class="service-text-line">- Údržba společných prostor (chodby, výtahy, střechy, sklepy)</li>
                    <li class="service-text-line">- Opravy havárií – voda, elektřina, plyn</li>
                    <li class="service-text-line">- Kontroly revizí a zákonných prohlídek zařízení</li>
                </ul>
                </div>
            </div>
            <div class="services-item">
                <svg class="icon service-icon" width="55" height="55">
                    <use href="./img/sprite.svg#icon-wrench"></use>
                </svg>
                <div class="service-border">
                <h4 class="service-name accordion-toggle">Administrativní činnost</h4>
                <ul class="service-text accordion-content">
                    <li class="service-text-line">- Vedení evidence nájemců a smluv</li>
                    <li class="service-text-line">- Komunikace s nájemci ohledně plateb, stížností, žádostí</li>
                    <li class="service-text-line">- Zajištění pojištění budov</li>
                </ul>
                </div>
            </div>
            <div class="services-item">
                <svg class="icon service-icon" width="55" height="55">
                    <use href="./img/sprite.svg#icon-folder-open"></use>
                </svg>
                <div class="service-border">
                <h4 class="service-name accordion-toggle">Finanční správu</h4>
                <ul class="service-text accordion-content">
                    <li class="service-text-line">- Výběr nájemného a jeho evidence</li>
                    <li class="service-text-line">- Rozúčtování služeb spojených s užíváním bytů (energie, úklid, odpad)</li>
                    <li class="service-text-line">- Sestavení ročního rozpočtu a vyúčtování nákladů</li>
                </ul>
                </div>
            </div>
            <div class="services-item">
                <svg class="icon service-icon" width="55" height="55">
                    <use href="./img/sprite.svg#icon-users"></use>
                </svg>
                <div class="service-border">
                <h4 class="service-name accordion-toggle">Právní servis a nájemci</h4>
                <ul class="service-text accordion-content">
                    <li class="service-text-line">- Tvorba nájemních smluv</li>
                    <li class="service-text-line">- Řešení sporů mezi nájemcem a pronajímatelem</li>
                    <li class="service-text-line">- Zastupování vlastníků vůči úřadům</li>
                </ul>
                </div>
            </div>
        </div>
  </div>
</section>
