.header-page {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(to bottom, rgba(220,220,220, 1) 70%, rgba(220,220,220, 0.9) 80%, rgba(220,220,220, 0.8) 90%, rgba(220,220,220, 0.7)) 100%;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  /* display: flex;
  gap: 30px;
  align-items: center; */
  display: none;
}

.icon {
  fill: #FFD700;
}

.burger-icon{
  fill: #FFD700;
}

.burger-btn{
  background: transparent;
  border: none;
}

.header-logo {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #191970;
  position: relative;
  margin-left: 15px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.header-logo::before {
  content: '';
  width: 5px;
  height: 100%;
  background-color: #191970;
  position: absolute;
  left: -15px;
}

.header-logo::after {
  content: '';
  width: 5px;
  height: 100%;
  background-color: #191970;
  position: absolute;
  right: -15px;
}

.link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 6px 0;
  display: block;
  margin: 18px 0;
}

.link:hover{
  color:#191970;
}

.contact-us {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  background-color: #FFD700;
  padding: 12px;
  width: 220px;
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
}

.mobile-menu{
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(220,220,220, 1);
  opacity: 0;
  transform: translateX(100%);

  pointer-events: none;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.mobile-menu.is-open{
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.mobile-menu-container{
  position: relative;
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close{
  width: 35px;
  height: 35px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: absolute;
  top: 15px;
  right: 22px;
  fill: #FFD700;
}

body.menu-open {
  overflow: hidden;
}