.about-container{
    background-color: #F8F8FF;
    padding: 60px;
}

.about-header {
    font-weight: 700;
        font-size: 46px;
        line-height: 1.5;
        letter-spacing: 0.04em;
    margin-left: 50px;
    margin-bottom: 20px;
}

.cons-box{
    display: flex;
    gap: 300px;
}

.about-text {
    font-weight: 500;
        font-size: 26px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        margin-left: 50px;
    width: 458px;
}

.cons-text {
    font-weight: 600;
        font-size: 26px;
        line-height: 1.5;
        letter-spacing: 0.04em;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}