.for-who-container {
    background-color: #191970;
    padding: 60px;
}

.for-who-header{
    font-weight: 700;
    font-size: 42px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-bottom: 50px;
    color: #fff;
    text-align: center;
}

.for-who-items {
    display: flex;
    gap: 100px;
    justify-content: center;
    flex-wrap: wrap;
}

.for-who-item {
    background-color: #fff;
    padding: 35px;
    width: 400px;
    height: 450px;
    border-radius: 15px;
    border: 2px solid transparent;
}

.for-who-name {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.0;
    letter-spacing: 0.04em;
    padding-bottom: 20px; 
}

.for-who-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.04em;
}